*{margin: 0; padding: 0;box-sizing: border-box;}

.container{
    margin: auto;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.buttons{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
.button{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}